<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.alea.beaconsimulator">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- For Crashlytics -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityAbout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityDetailedScan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityBeaconEdit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitySettings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityBeaconDiagnostic"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".ActivityLicenses"
            android:theme="@style/AppTheme.Dialog" />
        <service android:name=".bluetooth.BeaconSimulatorService" />
        <receiver android:name=".RebootReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>